{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block main_content %}
    <h1 class="display-5">Знайомство з Django</h1>    
    <div class="list-group">
        <span class="list-group-item list-group-item-secondary fs-5">Зміст</span>
        <a href="/transfer/" class="list-group-item list-group-item-action" >
            <i class="bi bi-braces fs-6"></i> Контекст та передача даних до шаблону
        </a>
        <a href="/forms/" class="list-group-item list-group-item-action">
            <i class="bi bi-card-list fs-6"></i> Форми. Передача даних.
        </a>
        <a href="/models/" class="list-group-item list-group-item-action">
            <i class="bi bi-ui-checks-grid"></i> Моделі
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-shield-check fs-6"></i> Політика конфіденційності
        </a>
        
    </div>
   
{% endblock %}

    